div.color2 {
  padding-top: 10%;
  background-color: white;
}
.row {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.responsive-gallery {
  width: 100vw;
  position: relative;
  padding: 5% 0;
  border-bottom: 1px solid lightgrey;
}
.p-header{
  margin-top: 20vh;
  margin-bottom: 6vh;
}
.subheader {
  text-align: center;
}
.image-container {
  width: 30vw;
  height: 20vw;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  background-color: black;

  border-radius: 6px;
  box-shadow: 2px 2px 5px dimgrey;

  margin: 10px 0;
}
.screenshot {
  display: block;
  height: auto;
}
/*******style the position of each image********/
img[src="images/fasionsite.png"] {
  width: 50vw;
  margin-left: -32%;
  margin-top: -5%;
}
img[src="images/portfolio.png"] {
  width: 50vw;
  margin-left: -15%;
  margin-top: -5%;
}
img[src="images/digitclock.png"] {
  width: 30vw;
  margin-top: -17%;
}
img[src="images/calculator.png"] {
  width: 30vw;
  margin-top: -5%;
}
/************************************************/


.overlay {
  position: absolute;
  bottom: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease;
}

.image-container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.projects-introduction {
  color: black;
  font-size: 0.9em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/***********ends project demonstration section**********/
/***********begin testimonials section******************/
img[src="images/selfieavatar.jpg"] {
  display: block;
  margin-left:auto;
  margin-right: auto;
  margin-top: 5vh;
  border-radius: 50%;
  width: 8vw;
  height: 8vw;
  object-fit: cover;
  object-position: 0 -7px;
}

img[src="images/humengnan.jpg"] {
  display: inline-block;
  width: 4vw;
  height: 4vw;
  object-fit: cover;
}
/***********begin testimonials section******************/

/***********begin footer section******************/
div.footer {
  background-color: rgba(62, 67, 94, 0.8); /*rgba(222, 225, 229, 1);*/
  width: 100vw;
  height: 30vh;
  position: absolute;
  bottom: 0;
  color: white;
}
div.footer>img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
  width: 4vw;
  height: 4vw;
}
div.footer>p {
  text-align: center;
  font-family: 'Inconsolata', monospace;
}
@media screen and (max-width: 1000px) and (min-width: 760px) {
  .p-header{
    margin-top: 6vh;
    margin-bottom: 6vh;
  }
  .image-container {
    width: 60vw;
    height: 40vw;
  }
  img {
    width: 500vw;
    height: auto;
    margin: 0;
  }
  img[src="images/fasionsite.png"] {
    width: 150%;
    margin-left: -25%;
    object-fit: cover;
  }
  img[src="images/portfolio.png"] {
    width: 150%;
    margin-left: -15%;
  }
  img[src="images/digitclock.png"] {
    width: 100%;
    margin-top: -20%;
  }
  img[src="images/calculator.png"] {
    width: 100%;
    margin-top: -5%;
  }
  }
@media screen and (max-width: 760px){
  .image-container {
    width: 90vw;
    height: 46vw;
  }
  .p-header{
    margin-top: 30vh;
    margin-bottom: 6vh;
  }
  img {
    width: 500vw;
    height: auto;
    margin: 0;
  }
  img[src="images/fasionsite.png"] {
    width: 150%;
    margin-left: -25%;
    object-fit: cover;
  }
  img[src="images/portfolio.png"] {
    width: 150%;
    margin-left: -15%;
  }
  img[src="images/digitclock.png"] {
    width: 100%;
    margin-top: -20%;
  }
  img[src="images/calculator.png"] {
    width: 100%;
    margin-top: -5%;
  }
}
